<h1>Keiharde ongecensureerde foto's enkel voor gedoopten!</h1>
<div id="picasacontainer">
	<% @albums.each do |album| %>
		<div class="album"><a href="<%= album[:url] %>"><img src="<%= album[:thumb] %>"></a><div class="title"><%= album[:title] %></div></div>
	<% end %>
</div>